.SideDrawer {
    position: fixed;
    width:280px;
    max-width:70%;
    height:100%;
    left:0;
    top:0;
    z-index:200;
    background-color:white;
    padding:32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

/*Esse media query é pra garantir que em dispositivos grandes o sidedrawer não será exibido*/
@media (min-width: 500px){
    .SideDrawer{
        display:none;
    }
}

.Open{
    transform: translateX(0);
}

.Close{
    transform: translateX(-100%);
}

/*Se você notar, o componente Logo tem height:100% como padrão. No entanto, em dispositivos mobile, especificamente no SideDrawer, o Logo deve ter uma altura de 11%. Para fazer isso, implementamos uma classe de estilo .Logo lá no arquivo SideDrawer.css e envelopamos o componente Logo renderizado lá com uma div que possui essa classe. Assim, sobrescrevemos o atributo altura para o valor que desejamos.
Isso também foi feito na Logo que é renderizada no componente Toolbar*/
.Logo{
    height:11%;
    margin-bottom:32px;
}